* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* width: 100%; */
}
#CarouselImg {
  /* width: 600px; */
}
#MultiCarousel {
  width: 290px;
  height: 167px;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  body {
    margin: 0rem;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #006dab;
  --card-grey: #f8f8f8;
  --primary-text: #2c2c2c;
  --secondary-text: #a79997;
  --default-transition: 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #006dab;
}
